<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spittr</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
</head>
<body>
<div id="header" th:include="page :: header"></div>

<div id="content">
    <h1>Welcome to Spittr!</h1>
    <a th:href="@{/spitter/register}">Register</a> |
    <a th:href="@{/login}">Login</a><br/>
    <a th:href="@{/spittles}">Spittles</a><br/>
    Views:<span th:text="${view}">Unknown</span>
</div>

<div id="footer" th:include="page :: copy"></div>
</body>


</html>