<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/style.css}"/>
</head>
<body>
<div id="header" th:include="page :: header"></div>

<div id="content">
    <form method="post" th:action="@{/login}">
        <table align="center">
            <tr>
                <td>User:</td>
                <td><input type="text" name="username" value=""/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="checkbox" id="remember_me" name="remember-me"/>
                    <label for="remember_me" class="inline">Remember me</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="submit" value="Login"/>
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="footer" th:include="page :: copy"></div>

</body>
</html>