<?xml version="1.0" encoding="UTF-8" ?>
<!--logback 体系结构包括三个类：Logger, Appender, Layout.
Logger: is a context for log messages.
Appender: places the log messages in their final destinations.
Layout: prepares messages for outputting.
-->
<configuration debug="true">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--apply %highlight and %boldYellow for coloring-->
            <pattern>%date{yyyy-MM-dd HH:mm:ss} | %highlight(%-5level) | %boldYellow(%thread) | %boldGreen(%logger) | %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="cn.yang.knight" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <root level="error">
        <appender-ref ref="console"/>
    </root>

</configuration>