<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spitter</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
</head>
<body>
<div id="header" th:include="page :: header"></div>

<div id="content">
    <h1>Your Profile</h1>
    <span th:text="${spitter.username}">username</span><br/>
    <span th:text="${spitter.firstName}">First</span> <span th:text="${spitter.lastName}">Last</span><br/>
    <span th:text="${spitter.email}">email</span>
</div>

<div id="footer" th:include="page :: copy"></div>
</body>
</html>